footer{
  padding: 15px;
  overflow-x: hidden !important;
  overflow-y: auto;     
  
}

.fab{
  font-size: 50px !important;
  margin-left: 29px !important;
}
a{
text-decoration: none;
color: inherit; 
font-weight: bold;
}
.Red-social{
font-size: 20px;
color: #007bff;
font-weight: bold;
}
.redes-sociales i {
  font-size: 24px;
  margin-right: 20px;
}

.copyright {
  margin-top: 10px;
  height: 1px; 
  background-color:rgb(39, 37, 37);
}

/* Estilos para las redes sociales */
.redes-sociales-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-icons {
  display: flex !important;
  justify-content: space-around;
  width: 100%;
  max-width: 200px;
  margin-right: 170px !important;
}
.social-icons a {
  color: #000; /* Cambia el color de los iconos según sea necesario */
}

.social-icons a:hover {
  color: #007bff; /* Cambia el color al pasar el mouse */
}

/* Estilos para centrar el logotipo en dispositivos móviles */
.logo-footer {
text-align: center; /* Centra horizontalmente el contenido */
margin-bottom: 20px; /* Agrega un espacio en la parte inferior del logotipo */
}

 
/*==========LO NUEVO===========*/
  
.highlighted{
  background-color: yellow; /* Cambia este color según tus preferencias */
  color: black !important;
  font-weight: bold;
}
a{
  color: rgb(0, 0, 0);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Estilos de escala de grises */
.gray-scale {
    filter: grayscale(100%);
  }

  body{
    font-family: Arial, sans-serif; /* Establece la fuente predeterminada */
  }
  
  body.dyslexic-font {
    font-family: 'OpenDyslexic', sans-serif; /* Establece la fuente disléxica */
  }
  

#accessibilityDropdown{
  font-size: 30px;
  color: black;
}

