
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="https://scontent-hou1-1.xx.fbcdn.net/v/t39.30808-6/449145649_122093886086386649_7599191908463888967_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=833d8c&_nc_ohc=qOAYUMaqYwMQ7kNvgHVxJV8&_nc_ht=scontent-hou1-1.xx&oh=00_AYDWc28ZkU6G6YANycgVNmgNGifalgtvVbGEOEj4BVC_jg&oe=668177DA" style="width: 100px;" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" [ngClass]="{ 'highlighted': areLinksHighlighted() }">
          <a class="nav-link" routerLink="/home">INICIO</a>
        </li>
        <li class="nav-item" [ngClass]="{ 'highlighted': areLinksHighlighted() }">
          <a class="nav-link" routerLink="/acerca">ACERCA</a>
        </li>
        <li class="nav-item" [ngClass]="{ 'highlighted': areLinksHighlighted() }">
          <a class="nav-link" routerLink="/vehiculos">VEHÍCULOS</a>
        </li>
        <li class="nav-item" [ngClass]="{ 'highlighted': areLinksHighlighted() }">
          <a class="nav-link" routerLink="/servicios">SERVICIOS</a>
        </li>
        <li class="nav-item" [ngClass]="{ 'highlighted': areLinksHighlighted() }">
          <a class="nav-link" routerLink="/contacto">CONTÁCTANOS</a>
        </li>
        <li class="nav-item" [ngClass]="{ 'highlighted': areLinksHighlighted() }">
          <a class="nav-link" routerLink="/preguntas">PREGUNTAS</a>
        </li>
        <li class="nav-item" [ngClass]="{ 'highlighted': areLinksHighlighted() }">
          <a class="nav-link" routerLink="/preguntas">PREGUNTAS</a>
        </li>
      </ul>

  <!-- Dropdown de accesibilidad -->
  <ng-container *ngIf="(currentUser$ | async)?.cuenta === 'Hade admin'">
  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="accessibilityDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fas fa-universal-access"></i>
    </a>
    
    <ul class="dropdown-menu" aria-labelledby="accessibilityDropdown">
     
      <li>
        <button class="dropdown-item" type="button" [routerLink]="['/listado-clientes']">Citas</button>
      </li>
      <li>
        <button class="dropdown-item" type="button" >Graficas</button>
      </li>
      <li>
        <button class="dropdown-item" type="button" [routerLink]="['/pipe']">Proximas actualizaciones</button>
      </li>
    </ul>
    </div>
    </ng-container>


      <!-- Dropdown de accesibilidad -->
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="accessibilityDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-universal-access"></i>
        </a>
        
        <ul class="dropdown-menu" aria-labelledby="accessibilityDropdown">
          <li>
            <button class="dropdown-item" type="button" (click)="toggleAccessibilityOptions()">Resaltar enlaces</button>
          </li>
          <li>
            <button class="dropdown-item" type="button" (click)="CambiaTipografica()">Cambio de tipografía disléxica</button>
          </li>
          <li>
            <button class="dropdown-item" type="button" (click)="toggleGrayScale()">Cambiar escalas a grises</button>
          </li>
          <li>
            <button class="dropdown-item" type="button" (click)="textSelectionService.toggleActiveState()">
              {{ textSelectionService.isActive ? 'Desactivar lectura de texto' : 'Leer texto subrayado' }}
            </button>
          </li>
        </ul>
        </div>
        <form class="navbar-form my-2 my-lg-0 ms-lg-2">
            <input class="form-control navbar-search-input" type="search" placeholder="Buscar" #buscarTexto>
            <button class="btn btn-outline-success my-2 my-sm-0 navbar-search-button" type="button" (click)="buscarUnVehiculo(buscarTexto.value)">Buscador</button>
          </form>
          <ng-container *ngIf="!(isLoggedIn$ | async)">
            <button class="btn btn-outline-secondary ms-2" (click)="openLoginDialog()">Log in</button>
            <button class="btn btn-outline-primary ms-2" (click)="signUp()">Sign up</button>
          </ng-container>
          
          <ng-container *ngIf="(isLoggedIn$ | async)">
            <ng-container *ngIf="(currentUser$ | async) as user">
              <span class="navbar-text me-2" *ngIf="user.cuenta">
                Cuenta: {{ user. DireccionCorreo }}
              </span>
            </ng-container>
            <button class="btn btn-outline-danger" (click)="logOut()">Cerrar sesión</button>
          </ng-container>
          
          
          
          
          

          
      </div>
    </div>
  </nav>
  