.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   // background-color: #333; /* Fondo oscuro */
  }
  
  .form-box {
    background: #444; /* Fondo oscuro para el formulario */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    color: white; /* Texto blanco */
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .form-field {
    margin-bottom: 1rem;
  }
  
  .custom-form-field .mat-input-element {
    background-color: #555; /* Color de fondo del campo de entrada */
    color: white; /* Color del texto */
    border-radius: 4px;
    padding: 0.5rem;
  }
  
  .custom-form-field .mat-form-field-outline {
    border-color: #888; /* Color del borde */
  }
  
  .custom-form-field .mat-form-field-outline-thick {
    border-width: 2px; /* Grosor del borde */
  }
  
  .form-action {
    margin-top: 1rem;
  }
  
  button[mat-flat-button] {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
  }
  
  .small-text {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: #ccc; /* Color del texto pequeño */
  }
  
  .log-in-redirect a {
    color: #3f51b5;
    text-decoration: none;
  }
  
  .log-in-redirect a:hover {
    text-decoration: underline;
  }
  