html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Estilos de escala de grises */
.gray-scale {
    filter: grayscale(100%);
  }

  body{
    font-family: Arial, sans-serif; /* Establece la fuente predeterminada */
  }
  
  body.dyslexic-font {
    font-family: 'OpenDyslexic', sans-serif; /* Establece la fuente disléxica */
  }
  
  